@model Domain.Core.Models.ProductosDTO

@{
    ViewData["Title"] = "Eliminar Producto";
}


<div class="container-xl px-4 mt-4">
    <h1>Eliminar Producto</h1>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-12">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Producto # @Html.DisplayFor(model => model.No_Producto)</div>
                <div class="card-body">
                    <form asp-action="Delete">
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1">@Html.DisplayNameFor(model => model.No_Producto)</label>
                            <input class="form-control" value="@Html.DisplayFor(model => model.No_Producto)" readonly>
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1">@Html.DisplayNameFor(model => model.Nombre)</label>
                                <input class="form-control" value="@Html.DisplayFor(model => model.Nombre)" readonly>
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1">@Html.DisplayNameFor(model => model.Cantidad)</label>
                                <input class="form-control" value="@Html.DisplayFor(model => model.Cantidad)" readonly>
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1">@Html.DisplayNameFor(model => model.Codigo_Barras)</label>
                                <input class="form-control" value="@Html.DisplayFor(model => model.Codigo_Barras)" readonly>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1">@Html.DisplayNameFor(model => model.Precio)</label>
                                <input class="form-control" value="@Html.DisplayFor(model => model.Precio)" readonly>
                            </div>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1"> @Html.DisplayNameFor(model => model.Descripcion)</label>
                            <input class="form-control" value="@Html.DisplayFor(model => model.Descripcion)" readonly>
                        </div>
                        <div class="row">
                            <input type="hidden" asp-for="ID" />
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <input type="submit" value="Eliminar Producto" class="btn btn-danger" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <a asp-action="Index" class="btn btn-info float-right">Regresar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
